// Place SASS variable overrides here

:root {
 --primary-colour: rgb(62, 180, 137); //mint green
 --primary-colour-light5: rgb(62, 180, 137, 0.05);
 --primary-colour-light10: rgb(62, 180, 137, 0.10);
 --primary-colour-light15: rgb(62, 180, 137, 0.15);
 --secondary-colour: #3b3b3b; //black
 --border: solid 3px var(--secondary-colour);
 //--accent-colour-1: #f48d24; //orange
 //--accent-colour-2: #419e43; //green
 --font-colour: var(--secondary-colour);
 --page-background-colour: #fafaf9; //griege
 --background-colour: #fafaf9;
 --font-colour-light: var(--background-colour);
}

$primary: #3eb489;
$secondary: #3b3b3b;
$body-bg: #fafaf9;
$body-color: $secondary;

 //Bootstrap override
 $font-size-root: 18px;
 $theme-colors: (
   "primary": $primary,
   "secondary": $secondary
 );

//@tailwind base;
//@tailwind components;
//@tailwind utilities;

//$primary: #6aaa64; //green
//$secondary: #86888a;

@import "bootstrap/dist/css/bootstrap.min.css";
@import 'bootstrap/scss/bootstrap.scss';


