// Place SASS variable overrides here

:root {
 --primary-colour: #3eb489; //rgb(62, 180, 137); //mint green
 --primary-colour-light5: rgb(62, 180, 137, 0.05);
 --primary-colour-light10: rgb(62, 180, 137, 0.10);
 --primary-colour-light15: #def0e8; //rgb(62, 180, 137, 0.15);
 --secondary-colour: #4f4f4f; //#3b3b3b; //black
 --border: solid 3px var(--secondary-colour);
 //--accent-colour-1: #f48d24; //orange
 //--accent-colour-2: #419e43; //green
 --font-colour: var(--secondary-colour);
 --page-background-colour: #fafaf9; //griege
 --background-colour: #fafaf9;
 --font-colour-light: var(--background-colour);
}

$font-color: #4f4f4f;

//Bootstrap override
 $primary: #3eb489;
 $secondary: #4f4f4f;
 $body-bg: #fafaf9;
 $body-color: $secondary;
 $font-size-root: 18px;
 $theme-colors: (
   "primary": $primary,
   "secondary": $secondary
 );

//media breakpoints
 $grid-breakpoints: (
         xxxs: 0,
         xxs: 350px,
         xs: 450px,
         sm: 600px,
         md: 785px,
         lg: 925px,
         xl: 1200px,
         xxl: 1400px
 );


